{{component materialInputComponentName
  inputClassNames=materialInputClassNames
  fieldId=fieldId
  value=value
  label=label
  type=fieldType
  placeholder=placeholder
  errors=(v-get model valuePath 'messages')
}}

{{#if showMessage}}
  <span class="c-material-validated-form-field__message g-status--error u-block u-mt1">
    {{v-get model valuePath 'messages'}}
  </span>
{{/if}}
