.c-button {
  padding: 0.5em 0.9em;
  border: 0;
  transition-property: opacity;
  transition-duration: var(--anim-duration__color-shift);
  transition-timing-function: var(--easing__ease-out-cubic);

  &:disabled {
    opacity: 0.7;
    transition-timing-function: var(--easing__ease-in-cubic);
  }

  &--rounded {
    border-radius: var(--border-radius__button);
  }
  &--flat {
    border-radius: 0;
  }


}
