.c-material-text-input {

  --left-offset__label: calc(var(--side-padding__text-input) / 2);

  &__label {
    top: 0;
    left: 0;
    transform: translate3d(var(--left-offset__label), 50%, 0);
    transition-property: transform, color;
    transition-duration: var(--anim-duration__shift-element);
    transition-timing-function: var(--easing__ease-out-sine);
  }

  &__input {
    color: var(--theme-color__nearBlack--700);
    padding: var(--padding__text-input);
    border-color: var(--grayscale__black-on-light--divider);
    background-color: transparent;

  }

  &__input::placeholder {
    transition-property: opacity;
    transition-duration: var(--anim-duration__fade-in-or-out);
    transition-timing-function: var(--easing__ease-out-sine);

    opacity: 0;
  }



  /* --------------------------- Animating focus/active states ---------- */
  &__input:focus + .c-material-text-input__label,
  &__input:active + .c-material-text-input__label,
  &.has-input-text .c-material-text-input__label {
    /*transform: translate3d(0%, -100%, 0%) scale(0.7);*/
    transform: translate3d(0%, -1em, 0%) scale(0.7);
    transition-timing-function: var(--easing__ease-in-quad);
    color: var(--theme-color__primary-2--500);
  }

  &__input:focus,
  &__input:active {
    outline: 0;
    border-bottom-width: 0.2em;
    border-bottom-style: solid;
    border-bottom-color: var(--theme-color__primary-2--500);
  }

  &__input:focus::placeholder,
  &__input:active::placeholder {
    opacity: 1;
    transition-timing-function: var(--easing__ease-in-sine);
  }

  .c-material-text-input__input:active__input:active {

  }
}
