/**
 * USAGE: Compose this class with your own class that sets its desired colors
 */
.o-highlighted-on-hover {
  transition-property: color background-color;
  transition-duration: var(--anim-duration__color-shift);
  transition-timing-function: var(--easing__ease-out-cubic);

  &:hover {
    transition-timing-function: var(--easing__ease-in-cubic);
  }
}
