/**
* Base, resuable animation keyframes.
*
*/
@keyframes SlideInFromLeft {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes SlideAndFadeInFromLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0%, 0%);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


@keyframes SlideInFromRight {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(0%, 0, 0);
  }
}
@keyframes SlideAndFadeInFromRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0%, 0%);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


@keyframes SlideOutRight {
  0% {
    transform: translate3d(0%, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes SlideAndFadeOutRight {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(100%, 0%, 0%);
  }
}


@keyframes SlideOutLeft {
  0% {
    transform: translate3d(0%, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes SlideAndFadeOutLeft {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(-100%, 0%, 0%);
  }
}
