/**
 * THEME COLOR PALLETTES
 *
 * Theme-specific extensions to the standard Savvy color pallette
 *
 */

:root {

  --theme-color__primary-1--100: hsla(9, 100%, 86%, 1);
  --theme-color__primary-1--300: hsla(9, 100%, 77%, 1);
  --theme-color__primary-1--500: hsla(9, 100%, 66%, 1);
  --theme-color__primary-1--700: hsla(9, 95%, 52%, 1);
  --theme-color__primary-1--900: hsla(9, 90%, 50%, 1);

  --theme-color__secondary-1--100: hsla(190, 100%, 60%, 1);
  --theme-color__secondary-1--300: hsla(187, 76%, 50%, 1);
  --theme-color__secondary-1--500: hsla(187, 100%, 42%, 1);
  --theme-color__secondary-1--700: hsla(186, 100%, 33%, 1);
  --theme-color__secondary-1--900: hsla(183, 100%, 20%, 1);



  --theme-color__primary-2--100: hsla(262, 48%, 84%, 1);
  --theme-color__primary-2--300: hsla(263, 49%, 63%, 1);
  --theme-color__primary-2--500: hsla(263, 56%, 47%, 1);
  --theme-color__primary-2--700: hsla(259, 64%, 41%, 1);
  --theme-color__primary-2--900: hsla(255, 80%, 33%, 1);

  --theme-color__secondary-2--100: hsla(59, 100%, 74%, 1);
  --theme-color__secondary-2--300: hsla(55, 100%, 71%, 1);
  --theme-color__secondary-2--500: hsla(55, 100%, 55%, 1);
  --theme-color__secondary-2--700: hsla(46, 98%, 50%, 1);
  --theme-color__secondary-2--900: hsla(31, 100%, 48%, 1);





  --theme-color__primary-3--100: hsla(103, 80%, 62%, 1);
  --theme-color__primary-3--300: hsla(103, 80%, 62%, 1);
  --theme-color__primary-3--500: hsla(103, 80%, 62%, 1);
  --theme-color__primary-3--700: hsla(103, 80%, 62%, 1);
  --theme-color__primary-3--900: hsla(103, 80%, 62%, 1);

  --theme-color__secondary-3--100: hsla(103, 80%, 62%, 1);





  --theme-color__nearBlack--100: #2A2A30;
  --theme-color__nearBlack--300: #242429;
  --theme-color__nearBlack--500: #171719;
  --theme-color__nearBlack--700: #101010;
  --theme-color__nearBlack--900: #010210;


  --theme-color__black: black;
  --theme-color__white: white;
  --theme-color__nearWhite: #FAFAFA;
  --theme-color__offWhite: #DADADA;


}
