/*
* --------------------------------------------------------
* Global Variables for application-wide concerns
* --------------------------------------------------------
*/

:root {

  /*
  * --------------------------------------------------------
  * DIMENSIONS: Widths, Heights, etc.
  * --------------------------------------------------------
  */
  --min-width__tap-target: 2.5rem;
  --min-height__tap-target: 2.5rem;
  --min-height__screen: 44rem;
  --height__full-page-section: 41.375rem;
}
