{{#page-wrapper tagName="main" class=(concat "c-application u-z0" " " media.classNames)}}

  {{#x-navbar class="g-bg-theme-primary-1--500 u-z1" title="RealChat" as |navbar|}}
    <ul class="g-list-reset o-grid-cell o-grid-cell--flex-none u-ml-auto o-flex-grid o-flex-grid--center">
      {{#each navbar.navLinks as |link|}}

        <li class="o-grid-cell u-mr2">
          {{#navbar.navLink link.routeName class="g-link-reset"}}
            {{link.title}}
          {{/navbar.navLink}}
        </li>

      {{/each}}
    </ul>
  {{/x-navbar}}

  {{liquid-outlet class="u-fill-height lf-child-container--full-child"}}

  {{flash-messages
    class="c-application__flash-messages
           u-fixed
           u-block
           u-z1
           u-edge-left
           u-edge-bottom
           u-fill-width"
  }}

{{/page-wrapper}}
