{{#page-content class="p-homepage g-bg-theme-primary-2--100"}}

  <h1 class="u-align-center">Welcome to Real-Chat</h1>

  <div class="p-homepage__main-options-container u-transform-center u-relative u-width-80">

    <div class="o-flex-grid o-flex-grid--spaceAround">

      {{#link-to
        "app.index"
        class="o-grid-cell
               p-homepage__main-option-button
               o-content
               u-m2
               g-border-s2
               g-link-reset
               u-relative"}}
        <span class="u-absolute u-transform-center">Enter</span>
      {{/link-to}}

      {{!-- {{#link-to
        "auth.login"
        class="o-grid-cell
               p-homepage__main-option-button
               o-content
               u-m2
               g-border-s2
               g-link-reset
               u-relative"}}
        <span class="u-absolute u-transform-center">Login</span>
      {{/link-to}} --}}

      {{#link-to
        "auth.register"
        class="o-grid-cell
               p-homepage__main-option-button
               o-content
               u-m2
               g-border-s2
               g-link-reset
               u-relative"}}
        <span class="u-absolute u-transform-center">Register</span>
      {{/link-to}}

    </div>

  </div>
{{/page-content}}
